#header {
    background-color: grey;
    text-align: center;
    color: white;
    padding: 20px;
}

#contact {
    background-color: grey;
    text-align: center;
    color: white;
    padding: 10px;
}