/* Basic styling for body*/
body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: #ffffff; 
    color: #333333; 
    line-height: 1.6;
    padding-bottom: 60px;
}

/* Header */
header {
    background-color: #0098ab;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #333333;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #0098ab;
}

/* section */
section {
    padding: 20px;
    margin: 10px 0;
}

/* portfolio */
#portfolio {
    background-color: #afd6df;
}

/* footer */
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}